<h1>Users</h1>
<br>
<%= link_to "新規作成", new_user_path %>
<table>
    <tr> 
        <th> メール </th>
        <th> ユーザー名 </th>
        <th colspan="2"> Action </th>
    </tr>
   
</table>

<style>
    table {
        border-collapse: collapse
    }
    table tr {
        border: 1px solid black;
    }
    table td, table th {
        border-right: 1px solid black;
    }
    .btn-edit {
        width: auto;
        height: auto;
    }
</style>

